.add-btn-top-list {
    left: 25px;
    position: relative;
}
table.dataTable th, table.dataTable td {
    vertical-align: middle!important;
}
.box .table td, .box .table th {
    text-align: center;
}